ADMIN_VERIFICATION_CODE=
APP_URL=
DEFAULT_COLLEGE_ID=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_ROOT_FOLDER_ID=
GOOGLE_PRIVATE_KEY=
GOOGLE_PROJECT_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SHEETS_DATABASE_ID=
JWT_SECRET=
SESSION_SECRET=
SUPER_ADMIN_LEVEL_2_MASTER_KEY=